* {
  box-sizing: border-box;
  font-size: 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  border: 3px solid black;
  border-radius: 30px;
  width: 440px;
  height: 700px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#screen {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 0 20px 20px 0;
  border: 3px solid black;
  border-radius: 30px;
  width: 400px;
  height: 180px;
  font-size: 40px;
}

#body {
  width: 400px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

button {
  width: 92.5px;
  height: 18%;
  border-radius: 50%;
}

#clear {
  width: 297.5px;
  border-radius: 80px;
}

#zero {
  width: 195px;
  border-radius: 80px;
}